
html {
	display: block;
}

body {
	font-family: 'Ubuntu',Tahoma,sans-serif;
	padding-top: 60px;
	padding-bottom: 40px;
	font-size: 15px;
	line-height: 150%;
	margin: 0;
	color: #333333;
	background-color: #ffffff;
	display: block;
	margin-left: 50px;
	margin-right: 50px;
};

.container{
	width:940px;
	margin-right: auto;
	margin-left: auto;
	display: block;
};

.navbar {
	z-index: 1;
	overflow: visible;
	color: #ffffff;
	display: block;
}

.navbar div {
	display: block;
	margin-left: 5px;
	margin-right: 5px;
}

.navbar-fixed-top {
	display: block;
	position: fixed;
	padding-top: 0px;
	top: 0;
	min-height: 40px;
	right: 0;
	left: 0;
	margin-bottom: 0;
	background-color: #d44413;
	border: 1px solid #c64012;
	font-size: 20px;
	font-weight: 200;
	color: #ffffff;
	text-shadow: 0 1px 0 #ce4213;
	padding: 10px 20px 10px;
	margin-left: -20px;
}

h1, h2, h3, h4, h5, h6 {
	display: block;
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 1;
	color: inherit;
	text-rendering: optimizelegibility;
}

p {
	margin: 0 0 10px;
	display: block;
}

pre {
	#margin-left: 20px;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.code-function {
	text-decoration:none;
	color:#09857e;
	font-weight:bold;
}

.code-type {
	text-decoration:none;
	color:#376d0a;
	font-weight:bold;
}

.code-argument {
	text-decoration:none;
	color:#B80000;
	font-weight:bold;
}

